<table class="table table-striped table-bordered table-sm">
  <thead>
    <tr>
      <th>code</th>
      <th>qtt</th>
      <th>hit</th>
      <th>% hit</th>
      <th>avgGain</th>
      <th>qttBuy</th>
      <th>hitBuy</th>
      <th>% hitBuy</th>
      <th>qttSell</th>
      <th>hitSell</th>
      <th>% hitSell</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let trade of orderedArray">
      <td><a routerLink="/trades/{{trade.code}}">{{ trade.code }}</a></td>
      <td>{{ trade.qtt }}</td>
      <td>{{ trade.hit }}</td>
      <td [ngClass]="{'wow': trade.hit*100/trade.qtt > 60, 'poutz': trade.hit*100/trade.qtt < 15}">
        {{ trade.hit * 100 / trade.qtt | number:'2.0-0' }}%</td>
      <td>{{ trade.avgGain | number:'1.2-2'}}%</td>
      <td>{{ trade.qttBuy }}</td>
      <td>{{ trade.hitBuy }}</td>
      <td [ngClass]="{'wow': trade.hitBuy*100/trade.qttBuy > 60, 'poutz': trade.hitBuy*100/trade.qttBuy < 15}">
        {{ trade.hitBuy * 100 / trade.qttBuy | number:'2.0-0' }}%</td>
      <td>{{ trade.qttSell }}</td>
      <td>{{ trade.hitSell }}</td>
      <td [ngClass]="{'wow': trade.hitSell*100/trade.qttSell > 60, 'poutz': trade.hitSell*100/trade.qttSell < 15}">
        {{ trade.hitSell * 100 / trade.qttSell | number:'2.0-0' }}%</td>
    </tr>
  </tbody>
</table>

<!-- 
WDO     : {{ count('WDO') }}
WDO Buy : {{ count('WDO', 'Buy') }}
WDO Sell: {{ count('WDO', 'Sell') }} -->

<!-- TABLE :{{tableData | json}} -->