<table class="table table-striped table-bordered table-sm">
  <thead>
    <tr>
      <th>code</th>
      <th>qtt</th>
      <th>hit</th>
      <th>% hit</th>
      <th>qttBuy</th>
      <th>hitBuy</th>
      <th>% hitBuy</th>
      <th>qttSell</th>
      <th>hitSell</th>
      <th>% hitSell</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let trade of orderedArray">
      <td>{{ trade.code }}</td>
      <td>{{ trade.qtt }}</td>
      <td>{{ trade.hit }}</td>
      <td [ngClass]="{'wow': trade.hit*100/trade.qtt > 50}">{{ trade.hit * 100 / trade.qtt | number:'2.0-0' }}</td>
      <td>{{ trade.qttBuy }}</td>
      <td>{{ trade.hitBuy }}</td>
      <td [ngClass]="{'wow': trade.hitBuy*100/trade.qttBuy > 50}">{{ trade.hitBuy * 100 / trade.qttBuy | number:'2.0-0' }}</td>
      <td>{{ trade.qttSell }}</td>
      <td>{{ trade.hitSell }}</td>
      <td [ngClass]="{'wow': trade.hitSell*100/trade.qttSell > 50}">{{ trade.hitSell * 100 / trade.qttSell | number:'2.0-0' }}</td>
    </tr>
  </tbody>
</table>

<!-- 
WDO     : {{ count('WDO') }}
WDO Buy : {{ count('WDO', 'Buy') }}
WDO Sell: {{ count('WDO', 'Sell') }} -->

<!-- TABLE :{{tableData | json}} -->